@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans Condensed", sans-serif;
    
}



@media (min-width: 1536px) {
    .container {
        max-width: 1232px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1232px;
    }
}
  