@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fira Sans Condensed", sans-serif;
    
}

.carousel-indicators {
    background: rgba(0,0,0,.5);
    width: fit-content;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    border-radius: 10px;
    padding: 2px;
}

.carousel-indicators button {
    width: 4px !important;
    height: 4px !important;
    border-radius: 100%;
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-top: none !important;
    border-bottom: none !important;
}

.carousel-indicators button.active {
    width: 10px !important;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
}

.carousel-control-prev, 
.carousel-control-next {
    height: fit-content;
    width: fit-content;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding: 11.5px 14px;
    border-radius: 100%;
    opacity: 0;
    border: 1px solid rgb(114, 111, 111);
}

.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
    opacity: 1;
}

.carousel-control-prev {
    left: 1rem;
}

.carousel-control-next {
    right: 1rem;
}

.slide-text{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 80%;
    flex-direction: column;
    flex-grow: 1;

    p:nth-child(1){
        font-size: 22px;
        opacity: 0.6;
    }
    p:nth-child(2){
        font-size: 4.1vw;
        letter-spacing: 0.7px;
        line-height: normal;
    }
    button{
        margin-bottom: 70px;
        margin-top: 25px;
        padding: 15px 20px 15px 30px;
        background-color: #FBA311;
        border-radius: 37px;
        border: 2px solid #FBA311;
        letter-spacing: 0.6px;
        font-size: 18px;
        
    }
    p:nth-child(4){
        
        padding-bottom: 50px;
        font-size: 18px;
        opacity: 0.6;
        font-weight: 400;
    }

}
.carousel-inner{
    
    height: 780px;
    img{
        height: 780px;
        object-fit: cover;
    }
    
}



@media (min-width: 1536px) {
    .container {
        max-width: 1232px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1232px;
    }
}
  